

.container{
    text-align: center;
}

.h1{
  
    padding-top: 50%;
}

#inputTask{
    width: 400px;
    height: 40px;
    outline: none;
    font-size: 28px;
    vertical-align: middle;
}

#addButton{
    height: 30px;
    width: 50px;
    border: 2px solid black;
    vertical-align: middle;

}

#addButton:hover{
    cursor: pointer;
}

.listItems{
    margin-top: 25px;
}

.items-style{
    margin:0;
    cursor: pointer;
    font-size: 20px;
}